:root
{
    --bg-color: white;
    --page-color: aliceblue;
    --text-color: black;
    --link-color: blue;
    --border-color: black;
}

@media (prefers-color-scheme: dark) {
    :root
    {
        --bg-color: #0e1c26;
        --page-color: black;
        --text-color: white;
        --link-color: antiquewhite;
        --border-color: #444;
    }
}
html {
    padding: 0;
}

body {
    background-color: var(--page-color);
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
}

.content a {
    color: var(--link-color);
}

#page {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 1em;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);;
    border-radius: 1em;
    padding: 1em 0;
}

.column {
    display: flex;
    flex-direction: column;
    gap: .25em;
}

.row {
    display: flex;
}

.section
{
    padding: 0 1em;
}

.small-width
{
    max-width: 300px;
}

.example
{
    border-radius: 1em;
    border: 3px solid var(--border-color);
}

.wrap-left
{
    float:left;
    margin-right: 1em;
    margin-bottom: 1em;
}

.wrap-right
{
    float:right;
    margin-left: 1em;
    margin-bottom: 1em;
}

.discord-split
{
    text-align: center;
    flex-grow: 1;
}

.discord-split iframe
{
    width: 350px;
    height: 250px; 
}

.video
{
    margin-left: auto;
    margin-right: auto;
}

.video iframe
{
    border-radius: 1em;
    width: 900px;
    height: 480px;
}

.preview-video
{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.preview-video iframe
{
    border-radius: 1em;
    width: 600px;
}

.support-button 
{
    display: flex;
    justify-content: center;
}

.support-button img
{
    width: 300px;
    padding: 1em;
    background-color: #eee;
    border: 1px solid black;
    border-radius: 1em;
    box-shadow: .1em .1em .5em black;
}

.challenger-avatar img
{
    width: 100px;
    margin: 1em;
    border-radius: 5em;
}